.about {
  padding: 0 30px;
  min-height: 826px;
}

.about__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 31px;
}

.about__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  margin-bottom: 29px;

  &::before {
    content: "";
    display: block;
    margin-bottom: 19px;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
    width: 32px;
    height: 37px;
    margin-left: 8px;
  }

  &--flower span {
    display: block;
    width: 73%;
  }

  &--skein {
    margin-bottom: 32px;
  }

  &--skein span {
    display: block;
    width: 81%;
  }

  &--skein::before {
    background-image: url("../img/icon-feature-ball.svg");
    width: 35px;
    height: 34px;
    margin-left: 3px;
  }

  &--money {
    margin-bottom: 34px;
  }

  &--money span {
    display: block;
    width: 80%;
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    margin-bottom: 27px;
  }

  &--rocket span {
    display: block;
    width: 96%;
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
    width: 55px;
    height: 23px;
    margin-left: -6px;
    margin-bottom: 28px;
  }

  &--heart {
    margin-bottom: 30px;
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
    width: 34px;
    height: 27px;
    margin-left: 7px;
    margin-bottom: 22px;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
    width: 33px;
    height: 32px;
    margin-left: 3px;
    margin-bottom: 21px;
  }
}

.about__item-text {
  display: block;
  width: 76%;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0 50px;
    min-height: 590px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    margin-left: -5px;
    margin-bottom: 18px;
  }

  .about__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 30px;
  }

  .about__item {
    width: 50%;
    margin-bottom: 59px;

    &--flower {
      order: 0;
    }

    &--flower span {
      width: 64%;
      font-size: 20px;
      line-height: 22px;
    }

    &--flower::before {
      margin-bottom: 16px;
    }

    &--skein {
      order: 1;
    }

    &--skein span {
      width: 80%;
      font-size: 20px;
      line-height: 22px;
    }

    &--money {
      order: 2;
    }

    &--money span {
      width: 71%;
      font-size: 20px;
      line-height: 22px;
    }

    &--rocket {
      order: 3;
    }

    &--rocket span {
      width: 88%;
      font-size: 20px;
      line-height: 22px;
    }

    &--heart {
      order: 4;
    }

    &--heart span {
      width: 71%;
      font-size: 20px;
      line-height: 22px;
    }

    &--gift {
      order: 5;
    }

    &--gift span {
      width: 71%;
      font-size: 20px;
      line-height: 22px;
    }

    &--gift::before {
      margin-bottom: 22px;
      margin-top: -4px;
    }
  }

  .about__item-text {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .about {
    max-width: 1150px;
    margin: 0 auto;
    padding: 64px 225px 0;
    box-sizing: border-box;
  }

  .about__item {
    width: 50%;

    &--heart span {
      width: 68%;
    }

    &--heart::before {
      margin-top: 3px;
    }

    &--money::before {
      margin-bottom: 25px;
    }

    &--gift::before {
      margin-bottom: 21px;
      margin-top: 0;
    }
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}
