.contacts {
  position: relative;
  padding: 0 30px;
  padding-top: 41px;
  min-height: 860px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    top: 0;
    width: 100%;
    left: 0;
    height: 6px;
  }
}

.contacts__wrapper {
  margin-bottom: 36px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  margin-bottom: 26px;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  list-style: none;
}

.contacts__list-item {
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
}

.contacts__item-link {
  margin: 0;
  width: 70%;

  .contacts__e-mail {
    text-decoration: none;
    color: $black;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $accent;
      opacity: 0.3;
    }
  }

  &--email {
    border-bottom: 1px solid $accent;

    &:active {
      opacity: 0.1;
    }
  }

  span {
    display: block;
  }
}

.contacts__item-type {
  width: 30%;
}

.contacts__link {
  padding-top: 13px;
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 30px;
  min-height: 52px;

  &:active span {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  height: 457px;
  margin: 0 -30px 39px;
}

.contacts__map-wrapper-map {
  height: 100%;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 866px;
    padding: 60px 50px 0;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: -17px;
      width: 100%;
      height: 17px;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      right: 53px;
      top: 45px;
      width: 47px;
      height: 81px;
      z-index: 2;
    }

    .contacts__wrapper {
      margin-bottom: 55px;
    }
  }

  .contacts__list {
    display: flex;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__list-item {
    margin: 0;
    width: 50%;
  }

  .contacts__item-type {
    width: 23%;
  }

  .contacts__item-link {
    width: 72%;

    &--email {
      border-bottom: 1px solid #63d1bb;
      height: 28px;
      width: 60%;
    }
  }

  .contacts__item-link-street {
    width: 222px;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 48px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    list-style: none;
  }

  .contacts__link {
    padding: 0;
    padding-top: 14px;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    width: 230px;
  }

  .contacts__map-wrapper {
    position: relative;
    margin: 0 -50px 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 60px 50px 0;
    position: relative;
    max-width: 1150px;
    min-height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 105px;

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      left: 2%;
      transform: translateX(-4%);
      bottom: 1px;
      top: -10px;
      height: 24px;
      background-size: 1050px 24px;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      left: 113px;
      top: 145px;
      width: 47px;
      height: 81px;
      z-index: 2;
    }
  }

  .contacts__wrapper {
    position: relative;
    width: 55%;
    padding-right: 525px;
    padding-left: 169px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .contacts__title {
    margin: 0;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 49px;
  }

  .contacts__map-wrapper {
    position: absolute;
    content: "";
    right: 101px;
    top: 83px;
    min-width: 45.5%;
    min-height: 457px;
  }

  .contacts__map-wrapper-map {
    margin: 0;
  }

  .contacts__link {
    margin: 0;
    position: absolute;
    content: "";
    bottom: 0;
    left: 19.5%;
  }

  .contacts__list {
    flex-wrap: wrap;

    .contacts__list-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .contacts__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .contacts__item-link {
      width: 76.6%;
    }
  }

  .contacts__item-type {
    padding-left: 5px;
    width: 22%;
  }

  .contacts__item-link--email {
    width: auto;
  }
}
