.footer {
  background-color: #f1f1f1;
  padding-top: 25px;
}

.footer-wrapper {
  padding: 0 30px;
}

.footer__developer-title {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  margin: 0 22px 0 -31px;
}

.footer__socials-list-wrapper {
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 22px;
}

.footer__socials-list:focus-within svg,
.footer__socials-list:hover svg {
  fill: $accent;
  opacity: 1;
}

.footer__socials-list:active svg {
  fill: $accent;
  opacity: 0.3;
}

.footer__socials-item:hover svg {
  fill: $accent;
  opacity: 1;
}

.footer__developer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 14px 0 20px 0;
  margin-left: 37px;

  & svg {
    margin-top: 4px;
  }

  &:focus span {
    opacity: 0.6;
  }

  .developer__logo {
    padding: 0;
    width: 42px;
    height: auto;
    object-position: 6px 2px;
  }

  & .footer__developer-title:hover {
    opacity: 0.6;
  }

  & .footer__developer-title:active {
    opacity: 0.3;
  }

  & .developer__logo:active {
    opacity: 0.3;
  }
}

.developer__copyright {
  margin: 0 auto;
  padding: 0;
}

.footer__logo {
  display: none;
}

.footer__socials-list {
  display: inline-block;
  margin-left: 19px;
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 0;
  }

  .footer__developer-title {
    margin: 0 22px 0 0;
  }

  .footer-wrapper {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 142px;
  }

  .footer__developer {
    padding: 0;
    margin-left: -1px;
  }

  .developer__logo {
    width: 42px;
    height: auto;
    object-position: 6px 2px;
  }

  & svg {
    margin-top: 7px;
  }

  .footer__logo {
    display: inline-block;

    & svg:hover {
      fill: $accent;
      opacity: 1;
    }

    & svg:active {
      opacity: 0.3;
      fill: $accent;
    }

    svg {
      width: 102px;
      height: auto;
    }
  }

  .footer__logo,
  .developer {
    width: 27%;
    display: block;
  }

  .footer__socials-list-wrapper {
    padding: 0;
    border: none;
    width: auto;
    position: relative;
    top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 0;
  }

  .footer-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .footer__logo,
  .developer {
    width: 17.5%;
    display: block;
  }
}
