.page-header__nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
}

.page-header__logo {
  text-decoration: none;
  width: 86px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 25px 0 19px;
  margin: 0 auto;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 28px;
  font-size: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 24px;
  height: 18px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 27px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.page-header--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  top: 4px;
  left: 3px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.page-header__nav-wrapper {
  border-top: 1px solid #ececec;
}

.page-header__nav-item {
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 53px;
  padding: 0;
  border-bottom: 1px solid #ececec;

  &--catalog {
    padding: 0;
  }

  &--form {
    padding: 0;
    padding-left: 7px;
  }

  &--search {
    padding-right: 55px;
  }

  &--search svg {
    position: relative;
    top: 5px;
  }

  &--cart svg {
    position: relative;
    top: 5px;
  }

  &--delivery {
    display: none;
  }

  &--cart {
    border-bottom: 1px solid #ececec;
    padding-right: 12px;
  }
}

.page-header__nav-item-cart-text,
.page-header__nav-item-search-text {
  margin-left: 20px;
}

.page-header__nav-item.page-header__nav-item--arrivals,
.page-header__nav-item.page-header__nav-item--sail {
  display: none;
}

.page-header__nav-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 27px 0;
  padding-right: 22px;

  & svg {
    fill: black;
    opacity: 0.2;
  }

  &:focus-within span,
  &:hover span {
    opacity: 0.6;
  }

  &:focus-within svg,
  &:hover svg {
    fill: $accent;
    opacity: 1;
  }

  &:active span {
    opacity: 0.3;
  }

  &:active svg {
    fill: $accent;
    opacity: 0.3;
  }
}

.page-header__delivery-info {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

@media (max-width: $mobile-width-only) {
  .page-header--opened .page-header__nav-item {
    display: list-item;
  }

  .page-header--closed .page-header__toggle::after {
    display: none;
  }

  .page-header--closed .page-header__nav-item {
    display: none;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--nojs .page-header__nav-item {
    display: list-item;
  }

  .page-header--nojs .page-header__nav-item--delivery,
  .page-header--opened .page-header__nav-item--delivery {
    display: none;
  }

  .page-header--nojs .page-header__nav-item--sail,
  .page-header--opened .page-header__nav-item--sail {
    display: none;
  }

  .page-header--nojs .page-header__nav-item--arrivals,
  .page-header--opened .page-header__nav-item--arrivals {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    z-index: 100;
    position: relative;
  }

  .page-header__wrapper {
    border: none;
    min-width: 768px;
    margin: 0 auto;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav-item,
  .page-header__nav-item--cart {
    border: none;
  }

  .page-header__nav-item-cart-text,
  .page-header__nav-item-search-text {
    margin-left: 26px;
  }

  .page-header__nav {
    flex-wrap: wrap;
    //height: 176px;
    align-items: center;
    min-width: 668px;
  }

  .page-header__nav-link {
    padding: 0;
    margin: 0 auto;
  }

  .page-header__nav-link--cart {
    margin: 0;
    margin-top: -5px;
  }


  .page-header__nav-wrapper {
    padding: 0 50px;
    display: flex;
    position: relative;
    min-width: 768px;
    box-sizing: border-box;
    border: none;

    &::before {
      position: absolute;
      z-index: 5;
      content: "";
      top: 60%;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #ececec;
    }
  }

  .page-header__nav-wrapper-list {
    min-width: 668px;
  }

  .page-header__nav-item {
    display: flex;
    align-items: center;
    order: 0;
    width: 100%;
    min-height: 88px;

    &--form {
      padding: 0;
      width: 34%;
      order: 4;
      text-align: center;
      min-height: 89px;
    }

    &--search {
      padding: 0;
      position: relative;
      //margin: 0;
      width: 84px;
      order: 1;
      margin: 0 0 0 48.1%;
      min-height: 89px;

      &::before,
      &::after {
        position: absolute;
        z-index: 5;
        content: "";
        top: 0;
        left: 0;
        //border-left: 1px solid #f1f1f1;
        height: 100%;
        width: 1px;
        background-color: #ececec;
      }

      &::after {
        left: auto;
        right: 0;
      }
    }

    &--cart {
      position: relative;
      width: 34.9%;
      min-height: 89px;
      order: 2;
      padding-right: 0;
      margin-left: auto;

      & svg {
        padding: 0;
      }
    }

    &--catalog {
      width: 25.2%;
      order: 3;
      text-align: left;
      min-height: 89px;
    }

    &--delivery {
      width: 272px;
      order: 5;
      margin-left: auto;
      text-align: center;
    }

    &--delivery .page-header__nav-item-cart-text {
      letter-spacing: -0.5px;
      margin-left: 40px;
    }
  }

  .page-header__nav-item-delivery-text {
    letter-spacing: -0.6px;
    margin-left: 42px;
  }

  .page-header__nav-item--catalog,
  .page-header__nav-item--form,
  .page-header__nav-item--delivery {
    min-height: 60px;
  }

  .page-header__nav-item--form a,
  .page-header__nav-item--catalog a {
    margin: 0;
    font-size: 15px;
  }

  .page-header__nav-item.page-header__nav-item--cart {
    padding: 0;
    justify-content: flex-end;
    margin-left: auto;
  }

  .page-header__logo-image,
  .page-header__nav-item-search-text,
  .page-header__toogle {
    display: none;

    &--tablet {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  .page-header__logo {
    text-decoration: none;
    position: absolute;
    top: 24px;
    left: 48px;
    padding: 0;
    width: 112px;
    height: 46px;
    z-index: 100;
  }

  .page-header__logo-image {
    padding: 0;
    display: inline-block;
    width: 100%;
    height: auto;

    &--tablet {
      display: inline-block;
    }

    &--desktop {
      display: inline-block;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      z-index: 5;
      content: "";
      top: 60%;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #ececec;
    }
  }

  .page-header__wrapper {
    margin: 0 auto;
    max-width: 1150px;
    border: none;
  }

  .page-header__nav-item {
    order: 3;
    max-width: 1150px;
    margin: 0 auto;

    &--form {
      position: relative;
      order: 1;
      margin: 0;
      width: 265px;
      padding-right: 20.7%;
      padding-left: 35px;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        border-left: 1px solid #f1f1f1;
        height: 100%;
      }
    }

    &--search {
      order: 4;
      margin: 0;
      width: 8%;
      height: 88px;
    }

    &--cart {
      order: 5;
      width: 25%;
      height: 88px;
    }

    &--catalog {
      order: 0;
      width: 17.5%;
      //margin-right: 55px;
    }

    &--delivery {
      order: 8;
      margin: 0;
      min-width: 27.3%;
    }

    &--arrivals {
      display: inline-block;
      order: 6;
      width: 180px;
      margin: 0;
      margin-right: 40px;
    }

    &--sail {
      font-size: 15px;
      display: inline-block;
      order: 7;
      width: 180px;
      margin: 0;
      margin-right: 250px;
    }
  }

  .page-header__nav-item--catalog,
  .page-header__nav-item--form {
    height: 88px;
  }

  .page-header__nav-item--form a,
  .page-header__nav-item--catalog a {
    font-size: 17px;
  }

  .page-header__nav {
    padding: 0 50px;
  }

  .page-header__nav-wrapper {
    padding: 0;
  }

  .page-header__logo-image {
    display: inline-block;

    &--desktop {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  .page-header__logo {
    text-decoration: none;
    position: absolute;
    top: 11px;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    width: 149px;
    height: 72px;
  }

  .page-header__nav-item.page-header__nav-item--delivery {
    margin-left: auto;
  }

  .page-header__nav-item.page-header__nav-item--arrivals,
  .page-header__nav-item.page-header__nav-item--sail {
    display: flex;
    min-height: 58px;
  }

  .page-header__nav-item--arrivals a,
  .page-header__nav-item--sail a {
    font-size: 15px;
    margin: 0;
  }

  .page-header__nav-item-cart-text {
    font-size: 17px;
    line-height: 24px;
    min-width: 234px;
  }

  .page-header__nav-item-delivery-text {
    letter-spacing: -0.5px;
    margin-left: 55px;
  }
}
