.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__title-box {
  width: 100%;
  background-color: #f1f1f1;
  min-height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.catalog__title {
  text-align: center;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin-top: -8px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 30px;
}

.catalog__list-box {
  margin: 0 auto;
}

.catalog__list-item {
  width: 260px;
  padding-bottom: 30px;

  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__item-link {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__image {
  background-image: url("/source/img/photo-hare-mobile@1x.jpg");
  margin: 0 auto;
  display: block;
}

.catalog__item-content-wrapper {
  padding: 27px 28px 0;
  border: 1px solid #ececec;
}

.catalog__description-wrapper {
  border-bottom: 1px solid #ececec;
  margin: 0 0 22px;
}

.catalog__item-description {
  display: block;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $black;
}

.catalog__item-cart-panel {
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: 0 auto;

  & .catalog__item-button {
    margin-right: -10px;
    margin-top: -3px;
    opacity: 0.2;
  }

  &:hover svg {
    fill: $accent;
    opacity: 1;
  }

  &:active svg {
    fill: $accent;
    opacity: 0.3;
  }
}

.catalog__item-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: -60px;
  }

  .catalog__title-box {
    position: relative;
    background-color: #f1f1f1;
    min-height: 237px;
    margin-bottom: 29px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
      background-size: contain;
      bottom: -1px;
      width: 100%;
      height: 24px;
      z-index: 2;
    }
  }

  .catalog__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 5px;
  }

  .catalog__list {
    padding: 39px 50px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__list-box {
    margin: 0 auto;
  }

  .catalog__list-item {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    max-height: 334px;
  }

  .catalog__item-content-wrapper {
    width: 50%;
    text-align: left;
    padding: 25px 26px;
    display: flex;
    flex-direction: column;
  }

  .catalog__description-wrapper {
    border: none;
    margin: 0;
  }

  .catalog__image {
    background-image: url("../img/photo-hare-tablet@1x.jpg");
    margin: 0;
    width: 334px;
    height: 334px;
  }

  .catalog__item-link {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    width: 233px;
  }

  .catalog__item-description {
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    text-align: left;

    &::before {
      max-width: 100%;
    }
  }

  .catalog__item-cart-panel {
    margin: 0;
    margin-top: auto;
    padding: 0;
    padding-top: 22px;
    border-top: 1px solid #ececec;
    max-width: none;
    width: 96%;
    padding-left: 5px;
  }

  .catalog__item-price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 100%;
    margin: 0 auto;
    margin-top: -58px;
  }

  .catalog__title-box {
    background-color: #f1f1f1;
    padding: 0;
    min-height: 255px;
    margin-bottom: 126px;

    &::before {
      background-repeat: repeat;
      background-size: contain;
      background-position: center;
      height: 34px;
      bottom: -15px;
      z-index: 2;
    }
  }

  .catalog__title {
    font-size: 53px;
    margin-top: -11px;
  }

  .catalog__list-box {
    width: 1150px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .catalog__list {
    padding: 0;
    margin-left: -25px;
    margin-right: -25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 604px;
    width: 316px;
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 58px;
    padding-bottom: 55px;
  }

  .catalog__image {
    margin: 0;
    width: 316px;
    height: 462px;
  }

  .catalog__description-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin: 0;
  }

  .catalog__item-link {
    text-align: left;
    width: 91%;
  }

  .catalog__item-description {
    padding-bottom: unset;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .catalog__item-content-wrapper {
    width: 100%;
    box-sizing: border-box;
    min-height: 197px;
  }

  .catalog__item-cart-panel {
    margin-top: auto;
    position: relative;
    padding-left: 0;
    display: flex;
    align-items: center;

    & .catalog__item-button {
      margin-right: -6px;
      margin-top: -10px;
    }

    & svg {
      top: 0;
      right: 0;
      position: absolute;
    }
  }

  .catalog__item-price {
    margin: 0;
    font-size: 17px;
  }

  .catalog__item-button {
    width: 22px;
    height: 19px;
    margin: 0;
    position: relative;
  }
}
