.manufacture {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 58px;
}

.manufacture__title-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #ececec;
  padding-bottom: 32px;
}

.manufacture__title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 131px;
  padding: 24px 20px;
  padding-left: 70px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 14px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.manufacture__wrapper {
  margin: 0 auto;
  position: relative;
  padding-bottom: 28px;

  .manufacture__wrapper-play {
    position: absolute;
    content: "";
    top: 36px;
    left: 80px;
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    background-size: cover;
    border: none;
    background-color: transparent;
  }

  & .manufacture__wrapper-play:hover {
    width: 121px;
    height: 92px;
    background-color: transparent;
  }

  & .manufacture__wrapper-play:active {
    width: 81px;
    height: 62px;
    background-color: transparent;
    opacity: 0.3;
  }
}

.manufacture__wrapper-image {
  margin: 0;
  box-sizing: border-box;
  display: block;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.manufacture__button {
  max-width: 192px;
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: $black;
  margin: 0 auto;
  padding: 16px 0;

  &--play {
    background-color: $accent;
  }

  &:active span {
    opacity: 0.3;
  }
}

.manufacture__description {
  margin: 0 auto;
  display: block;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  max-width: 192px;
}

@media (min-width: $tablet-width) {
  .manufacture {
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 63px;
  }

  .manufacture__title-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;

    .manufacture__title {
      order: 1;
      margin: 0;
      padding: 0;
      padding-left: 105px;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 32px;
    }
  }

  .manufacture__wrapper {
    order: 0;
    margin: 0 auto;
    padding-bottom: 38px;

    .manufacture__wrapper-play {
      position: absolute;
      content: "";
      top: 190px;
      left: 283px;
      width: 102px;
      height: 78px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
    }
  }

  .manufacture__wrapper-image {
    margin: 0 auto;
    width: 668px;

    &--tablet {
      display: inline-block;
    }

    &--desktop {
      display: none;
    }
  }

  .manufacture__title-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    order: 2;
    padding: 0 40px;
  }

  .manufacture__title {
    order: 1;
    width: auto;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: 41px;
      width: 32px;
      height: 32px;
      background-image: url("../img/icon-video.svg");
    }
  }

  .manufacture__description {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    order: 2;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
    text-align: left;
  }

  .manufacture__button {
    max-width: none;
    display: block;
    order: 3;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .manufacture {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    padding-right: 51px;
    padding-bottom: 0;
    margin-bottom: 105px;
    box-sizing: border-box;

    .manufacture__title-box {
      position: relative;
      min-height: 412px;
      padding: 0;
      margin: 0;
      width: 700px;
      padding-left: 760px;
      padding-top: 41px;
      display: block;
    }

    .manufacture__title {
      margin: 0;
      order: 1;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      text-decoration: none;
      color: #000000;
      width: 150px;
      display: inline-block;
      padding: 0;
      padding-top: 55px;
      margin-bottom: 32px;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-image: url("../img/icon-video.svg");
      }
    }
  }

  .manufacture__wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 682px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;


    .manufacture__wrapper-play {
      position: absolute;
      content: "";
      top: 188px;
      left: 290px;
      width: 101px;
      height: 78px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
    }
  }

  .manufacture__wrapper-image {
    margin: 0;
    width: 100%;
    height: auto;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }

  .manufacture__title-box-wrapper {
    display: block;
    width: auto;
    padding: 0;
  }

  .manufacture__button {
    order: 3;
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $black;
    width: 230px;
    min-height: 52px;

    &--play {
      background-color: $accent;
    }
  }

  .manufacture__description {
    order: 2;
    margin: 0;
    margin-bottom: 47px;
    padding: 0;
    width: 240px;
  }
}
