$black: #383838;
$accent: #FF6D00;
$backround: #F7F7F7;
$tableheader: #979797;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$tablet-width-only: 767px;
$desktop-width-only: 1149px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
