$black: #444444;
$accent: #63d1bb;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$tablet-width-only: 767px;
$desktop-width-only: 1149px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
